{% extends "layout.html" %}

{% block content %}


<div class="row" style="background-color:lavender;" >
    <body style="background-color:gainsboro;">
        <div class="col-md-11" style="color:black"
        <br />
        <h2 class="heb" dir="ltr">About The Project</h2>
        <p class="heb" dir="ltf">
            The project is a year-end final project within the framework of the "data science" course, of the 10th grade students, in the Tichonet High School in Tel Aviv.            <br /><br />
            The project combines two main areas of knowledge:
            <br /><br />
            * Web Environment Programming
            <br />
            * Data Science
            <br /><br />
            As part of the project, I located databases on the network and intend to base on them a website that allows access to the databases, data analysis and convenient way of presentation to users. The site will allow the user to explore the data in the chosen field and try to reach valuable insights and conclusions.<br /><br />
            The project will be based on the following technological components:
            <br /><br />
            * Python
            <br />
            * Pandas
            <br />
            * Flask
            <br />
            * Bootstrap
            <br />
            * Wtf
            <br /><br />
            The project is based on information and database from the isreali Ministry of Health.
            The Webstie I created brings the Covid19 cases in simple way that enable the users to understand the infromation in layman terms.
            The project helped me to develop skills of finding and analyzing information.
        </p>
        <br /><br /><br />
        </div>

        <div class="row">
            <div class="col-md-11" style="color:black" dir="ltr">
                <div class="link">
                    <link style="text-align:left;">

                    <tr>
                        <td>Link to the code on GitHub</td>
                        <td><a class="btn btn-primary heb" href="https://github.com/daniellelachovitz/Daniellefinalproject1" target="_blank">Go &raquo;</a></td>
                        
                        <br />

                        <td>לינק למסמך אפיון</td>
                        <td><a class="Specification document" herf="https://drive.google.com/file/d/15o5_sBq4fVrNqXVoFhRwMY4BaUpKVr8e/view?usp=sharing" traget="_blank">Go &raquo;</a></td>
                    
                    </tr>
                    </link>

                </div>
            </div>
        </div>

        
</div>

{% endblock %}
