{% extends "layout.html" %}

{% block content %}

<body style="background-color:gainsboro;">
    <div class="row" style="background-color:lavender; background-size:100% 100%;">


        <div class="d-flex flex-row-reverse bg-secondary">
            <h1 style="color:black"> Danielle Lachovitz</h1>
        </div>


        <address>
            <strong>E-Mail:</strong> <a href="mailto:41danielle@gmail.com">41danielle@gmail.com</a><br />
            <strong>Phone Number:</strong>  052-555-2552
        </address>
    </div>
    </div>
    </div>

    {% endblock %}
